/* ExplorePage.css */
.explore-page {
    background-color: #f8f9fa;
    background-image: url('../Assets/my\ pink.webp'); /* Path to your background image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .large-search-bar {
    width: 70%;
    font-size: 1.45rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px; /* To avoid double border */
  }
  
  .large-search-button {
    font-size: 1.95rem;
    padding: 0.5rem 1.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .large-category-button {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .large-category-button:hover {
    background-color: #007bff;
    color: white;
  }
  
  .recipe-card {
    transition: transform 0.2s;
    display:grid;
    flex-direction:unset;
    border-radius: 6px;
    overflow: hidden;
    margin-left:35%;
    margin-bottom: 30px;
    margin-top: 80px;
    
  }
  
  .recipe-card:hover {
    transform: scale(1.02);
  }
  
  .recipe-image {
    height: 50%;
    object-fit:cover
  }
  
  .recipe-card-body {
    display:inline-table;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
  }
  
  .recipe-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .recipe-card-text {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .spinner {
    margin-top: 20px;
  }
  
  .alert {
    margin-top: 20px;
  }
  